.delete-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.delete-account section h3 {
    font-size: 1.4rem;
    color: var(--title-color);
}
.delete-account__title {
    font-size: 1.3rem;
    color: var(--title-color);
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--warning-background-v1);
    color: var(--warning-text-v1);
    border-radius: 5px;
}
.button-container button {
    padding: 0.5rem 1rem;
    background-color: var(--warning-text-v1);
    font-weight: bolder;
    color: white;
    border-radius: 5px;
}
.warning-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.warning-info > svg {
    width: 50%;
}
.delete-account__extra{
    border:  1px solid var(--background-color-faded);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.168);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .delete-account {
        padding: 2rem;
    }
    .button-container {
        flex-direction: row;
    }
    .button-container div {
        text-align: justify;
        width: 50%;
    }
}
@media (min-width: 1025px) {
    .delete-account {
        padding: 2rem;
    }
    .button-container {
        flex-direction: row;
    }
    .button-container div {
        text-align: justify;
        width: 50%;
    }
}
