.settings-products{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 90vh;
    position: relative;
}
.settings-products, .settings-products__title{
    display: flex;
    flex-direction: column;
}
.settings-products__title h2{
    font-size: 1.3rem;
    color: var(--title-color);
}
.settings-products__container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .settings-products{
        height: 90vh;
        padding: 2rem;
    }
}
@media (min-width: 1025px) {
    .settings-products{
        height: 90vh;
        padding: 2rem;
    }
}