.settings-credentials {
    padding: unset;
}
.settings-credentials__title h3 {
    font-size: 1.3rem;
    color: var(--title-color);
}
.settings-credentials__title p {
    color: var(--text-color);
}
.settings-credentials__container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}
.settings-credentials__password-form,
.settings-credentials__email-form {
    outline: var(--background-color-faded) solid 1px;
    padding: 1rem;
    border-radius: 5px;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .settings-credentials {
        padding: 2rem;
    }
    .settings-credentials__password-form,
    .settings-credentials__email-form {
        width: 50%;
    }
}
@media (min-width: 1025px) {
    .settings-credentials {
        padding: 2rem;
    }
    .settings-credentials__password-form,
    .settings-credentials__email-form {
        width: 50%;
    }
}
