[submodule "API-typescript"]
	path = API-typescript
	url = https://github.com/luc-silva/electroware-api-typescript.git
[submodule "client-react"]
	path = client-react
	url = https://github.com/luc-silva/electroware-client.git
