.score-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.score-display strong {
    font-size: 4rem;
    color: var(--title-color);
}
.score-display__average {
    display: flex;
    flex-direction: column;
}
.score-display__stars-container {
    width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .score-display {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}
@media (min-width: 1025px) {
    .score-display {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
    }
    .ratings__score strong {
        font-size: 4rem;
        color: var(--title-color);
    }
}
