.card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--background-color-faded);
    height: 40%;
    padding: inherit;
    padding: 1rem;
}

.card-info-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
}
.card-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-details p {
    color: var(--text-color);
}
.loading-line {
    width: 100%;
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.card-info-price .loading-line {
    height: 1.3rem;
    width: 30%;
}
.card-details .loading-line {
    height: 1rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-info-price {
        align-items: flex-end;
        flex-direction: row;
        gap: 0.5rem;
    }
}
@media (min-width: 1025px) {
    .card-info-price {
        align-items: flex-end;
        flex-direction: row;
        gap: 1rem;
    }
}
@keyframes loading-animation {
    0% {
        background-color: var(--background-color-faded);
    }
    50% {
        background-color: #d9d9d9;
    }
    100% {
        background-color: var(--background-color-faded);
    }
}
