.category-panel{
    width: 100%;
    background-color: var(--background-color);
    padding: 1rem;
}
.category-panel{
    display: flex;
    flex-direction: column;
}
.category-panel ul{
    margin-left: 0.5rem;
}
@media (min-width: 769px) and (max-width: 1024px){

}
@media (min-width: 1025px) {}