.hmenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: white;
    width: 90vw;
    height: 100vh;
    z-index: 2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.168);
}
.hmenu__header {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
}
.hmenu__close-btn {
    color: white;
}
.hmenu__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    height: 10vh;
    width: 100%;
    color: white;
}
.hmenu__search{
    /* padding: 0.5rem 0rem; */
}
.hmenu__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.hmenu__login-dialog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.hmenu__login-dialog h2 {
    font-size: 1.2rem;
    color: var(--title-color);
}
.hmenu__login-dialog__links {
    color: var(--text-color);
}
