.image-container{
    background-color: var(--background-color-faded);
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-container,
.loading-thumb {
    width: 100%;
    height: 100%;
}
.loading-thumb {
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes loading-animation {
    0% {
        background-color: var(--background-color-faded);
    }
    50% {
        background-color: #d9d9d9;
    }
    100% {
        background-color: var(--background-color-faded);
    }
}
