.quantity-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--background-color-faded);
    line-height: 1rem;
    padding: 0 0.5rem;
}
.quantity-counter span {
    cursor: pointer;
    font-weight: bolder;
    color: var(--text-color);
}
.quantity-counter .quantity-counter__display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 50%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .quantity-counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
    }
    .quantity-counter span {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bolder;
        height: 100%;
    }
    .quantity-counter .quantity-counter__display {
        justify-content: center;
        font-size: 1rem;
        height: auto;
    }
}
@media (min-width: 1025px) {
    .quantity-counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
    }
    .quantity-counter span {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bolder;
        height: 100%;
    }
    .quantity-counter .quantity-counter__display {
        justify-content: center;
        font-size: 1rem;
        height: auto;
    }
}
