.categories-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--main-color);
}
.display__title h2 {
    font-size: 1.5rem;
    color: white;
}
.display__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(45%, 50%));
    justify-content: space-between;
}
@media (min-width: 769px) and (max-width: 1024px){
    .display__container {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(3, minmax(25%, 30%));
    }
}
@media (min-width: 1025px){
    .display__container {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(4, minmax(20%, 25%));
    }
}