.recent-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 2rem 2rem;
    background-color: var(--background-color);
}
.recent-products h2 {
    font-size: 1.5rem;
    color: var(--title-color);
}
.products-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(auto, auto);
    justify-content: space-between;
    gap: 1rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(3, minmax(25%, 30%));
    }
}
@media (min-width: 1025px) {
    .products-container {
        grid-template-columns: repeat(4, minmax(20%, 25%));
    }
}
