.active-promos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.active-promos img {
    object-fit: cover;
    object-position: center;
}
.control-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
}
.control-panel svg {
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .active-promos img {
        object-fit: contain;
        object-position: center;
    }
}
@media (min-width: 1025px) {
    .active-promos img {
        object-fit: contain;
        object-position: center;
    }
}
