.product__about {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-faded);
}
.product-image {
    background-color: black;
    width: 100%;
    height: 50vh;
}
.product-details {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    gap: 1rem;
    padding: 1rem;
}
.details-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.details-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.details-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.details-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.details-title h1 {
    font-size: 2rem;
    color: var(--title-color);
}
.details-category {
    color: var(--text-color);
}

.details-pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.details-seller,
.details-price {
    display: flex;
    width: 50%;
}
.details-price{
    flex-direction: column;
    align-items: flex-end;
}
.details-seller {
    justify-content: flex-start;
}
.details-seller a {
    color: var(--text-color);
    text-decoration: underline;
}
.details-price {
    justify-content: flex-end;
}
.details-price h2 {
    font-size: 2rem;
}
.details-description {
    color: var(--text-color);
}
.details-misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.details-misc p {
    color: var(--text-color);
    font-size: 1rem;
}

.details-title .loading-line {
    height: 1.3rem;
    width: 40%;
}
.details-category .loading-line {
    height: 0.8rem;
    width: 20%;
}
.details-seller .loading-line {
    height: 1rem;
    width: 40%;
}
.details-price .loading-line {
    height: 1.3rem;
    width: 20%;
}
.details-description .loading-line{
    height: 1rem;
    width: 60%;
}

.loading-line {
    width: 100%;
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .product__about {
        flex-direction: row;
        height: 90vh;
        padding: 3rem;
    }
    .product-details {
        width: 45vw;
        height: 100%;
        justify-content: space-between;
    }
    .details-info {
        height: 100%;
    }

    .details-misc {
        width: 100%;
    }
    .product-image {
        background-color: black;
        width: 55vw;
        height: 100%;
    }
}
@media (min-width: 1025px) {
    .product {
        font-family: Arial, Helvetica, sans-serif;
    }
    .product__about {
        flex-direction: row;
        height: 90vh;
        padding: 2rem 5rem;
    }
    .product-details {
        width: 55vw;
        height: 100%;
        justify-content: space-between;
    }
    .details-info {
        height: 100%;
    }
    .details-misc {
        width: 100%;
    }
    .product-image {
        background-color: black;
        width: 45vw;
        height: 100%;
    }
}
@keyframes loading-animation {
    0% {
        background-color: var(--background-color-faded);
    }
    50% {
        background-color: #d9d9d9;
    }
    100% {
        background-color: var(--background-color-faded);
    }
}
