.create-offer {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.create-offer__main,
.create-offer__title {
    display: flex;
    flex-direction: column;
}
.create-offer__main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.create-offer__title {
    align-items: center;
    padding: 0 2rem;
    margin-top: 2rem;
}
.create-offer__title h2 {
    font-size: 1.5rem;
    color: var(--title-color);
}
.create-offer__image-container {
    width: 100%;
    height: 40vh;
    position: relative;
}
.create-offer__image-container .input-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.create-offer__form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 1rem;
}
.create-offer__form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
label {
    color: var(--text-color);
    font-size: 0.8rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .create-offer{
        height: 90vh;
    }
    .create-offer__title{
        align-items: flex-start;
    }
    .create-offer__main {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    .create-offer__image-container{
        width: 50%;
        height: 70%;
    }
    .create-offer__form-container{
        width: 50%;
    }
}
@media (min-width: 1025px) {
    .create-offer{
        height: 90vh;
    }
    .create-offer__title{
        align-items: flex-start;
    }
    .create-offer__main {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    .create-offer__image-container{
        width: 40%;
        height: 100%;
    }
    .create-offer__form-container{
        width: 60%;
    }
}
