.faq {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-faded);
}
.faq-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
}
.faq-main h2{
    font-size: 2rem;
    text-align: center;
}
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faq__extra{
    background-color: white;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .faq-main{
        padding: 2rem 5rem;
    }
}
@media (min-width: 1025px){
    .faq-main{
        padding: 2rem 5rem;
    }
}