.product {
    font-family: Arial, Helvetica, sans-serif;
}
.product__about__section{
    width: 100%;
}
.product__reviews__section{
    width: 100%;
}
.product__ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    border-top: 1px solid var(--background-color-faded);
    background-color: var(--background-color);
}
.ratings__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratings__title h2 {
    font-size: 1.6rem;
    color: var(--title-color);
}
.ratings__score {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.ratings__score strong {
    font-size: 4rem;
    color: var(--title-color);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .product {
        font-family: Arial, Helvetica, sans-serif;
    }
    .product__about {
        flex-direction: row;
        height: 90vh;
        padding: 3rem;
    }
    .product-details {
        width: 45vw;
        height: 100%;
        justify-content: space-between;
    }
    .details-info {
        height: 100%;
    }

    .details-misc {
        width: 100%;
    }
    .product-image {
        background-color: black;
        width: 55vw;
        height: 100%;
    }
    .product__ratings {
        border-top: none;
    }
}
@media (min-width: 1025px) {
    .product {
        font-family: Arial, Helvetica, sans-serif;
    }
    .product__about {
        flex-direction: row;
        height: 90vh;
        padding: 2rem 5rem;
    }
    .product-details {
        width: 55vw;
        height: 100%;
        justify-content: space-between;
    }
    .details-info {
        height: 100%;
    }
    .details-misc {
        width: 100%;
    }
    .product-image {
        background-color: black;
        width: 45vw;
        height: 100%;
    }
    .product__ratings {
        border-top: none;
    }
    .ratings__title {
        justify-content: flex-start;
    }
    .ratings__title h2 {
        font-size: 1.6rem;
        color: var(--title-color);
    }
    .ratings__score {
        display: flex;
        padding: 1rem;
    }
    .ratings__score strong {
        font-size: 4rem;
        color: var(--title-color);
    }
    .ratings__form {
        width: 50%;
    }
}
