.registration {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}
.registration__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.registration__title h1 {
    color: var(--title-color);
    font-size: 2.5rem;
}
.registration__title p {
    color: var(--text-color);
}
.registration__title,
.registration__main {
    justify-content: center;
    padding: 0 2.5rem;
}
.registration__form__container {
    width: 100%;
}
.registration__links{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    color: var(--text-color);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .registration {
        align-items: center;
        flex-direction: row;
    }
    .registration__title,
    .registration__main {
        width: 50%;

        padding: 0 3.5rem;
    }
}
@media (min-width: 1025px) {
    .registration {
        align-items: center;
        flex-direction: row;
    }

    .registration__title,
    .registration__main {
        width: 50%;

        box-sizing: border-box;
        padding: 0 5rem;
    }
}
