.settings {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 90vh;
    gap: 1rem;
}
.settings__navigation {
    overflow-y: scroll;
    color: var(--text-color);
}
.settings__panel {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .settings {
        flex-direction: row;
        height: 90vh;
    }
    .settings__navigation {
        width: 20vw;
        height: 100%;
        overflow: unset;
        color: var(--text-color);
    }
    .settings__panel {
        width: 80vw;
        height: 100%;
        overflow-y: scroll;
        overflow-x: unset;
    }
}
@media (min-width: 1025px) {
    .settings {
        flex-direction: row;
        height: 90vh;
    }
    .settings__navigation {
        width: 20vw;
        height: 100%;
        overflow: unset;
        color: var(--text-color);
    }
    .settings__panel {
        width: 80vw;
        height: 100%;
        overflow-y: scroll;
        overflow-x: unset;
    }
}
