.shopping-cart {
    display: flex;
    flex-direction: column-reverse;
}
.shopping-cart__main {
    height: 90vh;
    overflow-y: scroll;
}
.shopping-cart__main > p{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color: var(--text-color);
}
.shopping-cart__main__title {
    color: var(--title-color);
    display: none;
}
.shopping-cart__main__title h2 {
    color: var(--title-color);
    font-size: 1.2rem;
}
.shopping-cart__container {
    display: flex;
    flex-direction: column;
}
.shopping-cart__panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--background-color-faded);
}
.shopping-cart__panel button {
    padding: 0.5rem;
    width: 40vw;
    color: var(--background-color);
    background-color: var(--main-color);
    cursor: pointer;
}
.shopping-cart__panel button:disabled{
    cursor: not-allowed;
    color: var(--title-color);
    background-color: var(--btn-disabled);
}
.shopping-cart__panel__display {
    display: flex;
    flex-direction: column;
}
.shopping-cart__panel__display p {
    color: var(--text-color);
}
.shopping-cart__panel__display strong {
    font-size: 1.5rem;
    color: var(--title-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .shopping-cart {
        flex-direction: row;
        justify-content: space-between;
        height: 90vh;
    }
    .shopping-cart__main {
        width: 60%;
        padding: 2rem 3rem;
        height: 90vh;
        overflow-y: scroll;
    }
    .shopping-cart__main__title {
        display: flex;
    }
    .shopping-cart__main__title h2 {
        font-size: 2rem;
    }
    .shopping-cart__main__title {
        margin-bottom: 2rem;
    }

    .container-picture {
        width: 20%;
        max-width: 100px;
    }
    .shopping-cart__panel {
        padding: 2rem 3rem;
        width: 40%;
    }
    .shopping-cart__panel button {
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .shopping-cart {
        flex-direction: row;
        justify-content: space-between;
        height: 90vh;
    }
    .shopping-cart__main {
        width: 60%;
        padding: 2rem 5rem;
        height: 90vh;
        overflow-y: scroll;
    }
    .shopping-cart__main__title {
        display: flex;
    }
    .shopping-cart__main__title h2 {
        font-size: 2rem;
    }
    .shopping-cart__main__title {
        margin-bottom: 2rem;
    }

    .container-picture {
        width: 20%;
        max-width: 100px;
    }
    .shopping-cart__panel {
        padding: 2rem 5rem;
        width: 40%;
    }
    .shopping-cart__panel button {
        width: 100%;
    }
}
