.index{
  background-color: var(--secondary-color-faded);
  font-family: Arial, Helvetica, sans-serif;
}
.activepromos{
  width: 100%;
  height: 55vh;
  background-color: black;
}
.featured{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured h2{
  margin-top: 2rem;
  font-size: 1.5rem;
}
.featured-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.featured-container .container-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  
  text-align: center;
  border-radius: 5px;
  width: 40%;
  height: 20vh;
  padding: 1rem;
}
.categories{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
}
.categories h2{
  font-size: 1.5rem;
}
.categories-container{
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(auto, auto);
  gap: 1rem;
  
}
@media (min-width: 769px) and (max-width: 1024px) {
  .activepromos{
    height: 60vh;
  }
  .featured{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .featured-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .featured-container .container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    
    text-align: center;
    border-radius: 5px;
    width: 20%;
    padding: 1rem;
  }
  .categories-container{
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1025px) {
  .featured{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .featured-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .featured-container .container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    
    text-align: center;
    border-radius: 5px;
    width: 20%;
    height: 20vh;
    padding: 1rem;
  }
  .categories-container{
    grid-template-columns: repeat(4, auto);
  }
}