.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 90vh;
}
.user-profile__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
}
/* .user-profile__info {
} */
.user-profile__picture {
    width: 200px;
    height: 200px;
    background-color: black;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .user-profile {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-profile__info {
        padding: 0rem;
    }
    .user-profile__main {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        padding: 2rem;
        flex-grow: 0;
        height: 40%;
    }
    
    .user-profile__products {
        display: flex;
        flex-direction: column;
    }
    .user-profile__products__title h2 {
        text-align: start;
        font-size: 1.5rem;
        color: var(--title-color);
    }
    .user-profile__product__item {
        width: 60%;
        border-radius: 0 5px 5px 0;
    }
    .product__picture {
        background-color: black;
        width: 150px;
        height: 100px;
    }
    .product__main {
        padding: 0.5rem;
    }
    .product__main p {
        font-size: 1.3rem;
    }
    .product__main strong {
        font-size: 1.3rem;
    }
}
@media (min-width: 1025px) {
    .user-profile {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-profile__main {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        padding: 2rem;
        flex-grow: 0;
        height: 40%;
    }
    .user-profile__info {
        padding: 0rem;
    }
    
}
