.action-btn{
    cursor: pointer;
    border: none;
    background-color: var(--sub-color);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    height: 100%;
}

@media (min-width: 769px) and (max-width: 1024px) {
.action-btn{
    font-size: 0.8rem;
}
}
@media (min-width: 1025px) {
    .action-btn{
        font-size: 1rem;
    }
}