.card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 50vh;
    min-width: 100%;
    border: 1px solid var(--background-color-faded);
}
.card-image {
    width: 100%;
    height: 60%;
    background-color: var(--background-color-faded);
}
.details-vendor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.8rem;
}


@media (min-width: 769px) and (max-width: 1024px) {
    /* .card-wrapper{
        width: 25%;
    } */
}
@media (min-width: 1025px) {
    /* .card-wrapper{
        width: 20%;
    } */
}

