.rating-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-color-faded);
    border-radius: 5px;
}
.card-userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
}
.user-review {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.review-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.review-detail div{
    width: 50%;
}
.review-author{
    color: var(--title-color);
    font-size: 1.1rem;
}
.date-display{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    font-size: 0.8rem;
}
.review-text {
    color: var(--text-color);
    text-align: justify;
    font-size: 0.9rem;
    width: 100%;
}
.review-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loading-line {
    width: 100%;
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.review-author .loading-line {
    width: 70%;
    height: 1.3rem;
}
.date-display .loading-line{
    width: 50%;
    height: 1rem;
}
.review-text .loading-line{
    width: 60%;
    height: 1rem;

}
@media (min-width: 769px) and (max-width: 1024px) {
    .review-author .loading-line {
        width: 40%;
        height: 1.3rem;
    }
    .date-display .loading-line{
        width: 30%;
        height: 1rem;
    }
}
@media (min-width: 1025px) {
    .review-author .loading-line {
        width: 40%;
        height: 1.3rem;
    }
    .date-display .loading-line{
        width: 30%;
        height: 1rem;
    }
}
@keyframes loading-animation {
    0% {
        background-color: var(--background-color-faded);
    }
    50% {
        background-color: #d9d9d9;
    }
    100% {
        background-color: var(--background-color-faded);
    }
}
