.container__item {
    border-top: 1px solid var(--background-color-faded);
    padding: 0.5rem;
    height: 15vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container__picture {
    width: 100px;
    height: 100%;
}
.container__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}
.details__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.container__pricing {
    display: flex;
    flex-direction: column;
}
.container__pricing p {
    color: var(--text-color);
    font-size: 0.7rem;
}
.container__pricing strong{
    color: var(--text-color);
    font-size: 0.9rem;
}
.container__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container__footer > p {
    font-size: 0.8rem;
    color: var(--text-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
