.container__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color-faded);
    border-radius: 5px;
}
.container__item div {
    display: flex;
    gap: 0.5rem;
}
.item__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.item__main .item__date {
    font-size: 1.2rem;
    color: var(--title-color);
}
.item__main .item__payment-method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    font-size: 0.8rem;
    color: var(--text-color);
}
.item__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0;
}
.item__details p {
    color: var(--title-color);
}
.item__details em {
    font-size: 0.8rem;
    color: var(--text-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
