.faq-item {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    padding: 0.5rem;
    background-color: var(--background-color);
}
.question-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.question-container strong{
    color: var(--title-color);
}
.item-question{
    z-index: 1;
    font-weight: bold;
}
.item-answer{
    z-index: 2;
    padding: 1rem;
    width: 100%;
    border-top: var(--text-color);
}
