.header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 1rem;
    /* position: sticky;
    top: 0; */

    padding: 0 2rem;
    height: 10vh;
    width: 100%;
    background-color: var(--main-color);
}
.header__main {
    width: 50%;
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
}
.header-logo {
    display: block;
    align-self: center;
    font-size: 1.3rem;
}
.header-logo a {
    color: var(--background-color);
    font-family: Valorax;
}

.header__form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40vw;
    height: 100%;
}
.header__form form {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
}
.header__form input {
    height: 100%;
    padding: 0.25rem;
}
.header__form input[type="text"] {
    width: 75%;
}
/* .header__form input[type="submit"]{
    outline: var(--main-color-faded) solid 1px;
    width: 25%;
} */
.header__form button {
    background-color: var(--main-color);
    height: 100%;
    width: 10%;
    border: 1px solid white;
    color: white;
}
.header__user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
}
.header__user-panel__main--logged{
    display: flex;
    flex-direction: column;
}
.header__user-panel__main--logged a {
    font-size: 0.8rem;
}
.header__user-panel__main,
.header__user-panel__main--logged {
    font-size: 0.9rem;
    color: var(--background-color);
}
