.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 1rem;
    padding: 0 2rem;
    height: 10vh;
    width: 100%;
    background-color: var(--main-color);
}
.header__main {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.3rem;
}
.header__form {
    display: none;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.header__panel{
    display: none;
    align-items: center;
    justify-content: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }
    .header__form {
        display: flex;
        width: 40vw;
    }
    .header__hmenu{
        display: none;
    }
    .header__panel{
        display: flex;
    }
}
@media (min-width: 1025px) {
    .header {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }
    
    .header__form {
        display: flex;
        width: 40vw;
    }
    .header__hmenu{
        display: none;
    }
    .header__panel{
        display: flex;
    }
}
