.toast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
}
.toast div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info {
    background-color: var(--sub-color);
}
.warning {
    background-color: rgb(255, 105, 105);
}

.toast .toast__message {
    line-height: 1rem;
    gap: 1rem;
    cursor: default;
}
.toast .toast__message  p  {
    color: white;
    font-size: 0.8rem;
}
.toast .toast__btn {
    cursor: pointer;
}
.timer-bar{
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: white;
    height: 5px;
    width: 0%;
    animation-name: fill-itself;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes fill-itself {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .toast {
        width: 40%;
        margin: 1rem;
        right: 0;
    }
}
@media (min-width: 1025px) {
    .toast {
        width: 30%;
        margin: 1rem;
        right: 0;
    }
}
