.card-wrapper{
    height: 50vh;
}
.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.card-image{
    width: 100%;
    height: 60%;
    background-color: black;
}
.card-info{
    height: 40%;
    padding: 1rem;
    background-color: var(--secondary-color);
}
.card-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-vendor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.8rem;
}
.card-info strong{
    font-size: 1.5rem;
}
.card-info-price {
    font-size: 2rem;
}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 1025px) {

}