.profile-menu{
    display: none;
}
@media (min-width: 769px){
    .profile-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        z-index: 3;
    
        font-size: 0.8rem;
    
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.187);
        width: 200px;
        background-color: var(--background-color);
    }
    .profile-menu a{
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        gap: 0.4rem;
    }
    .profile-menu__links a{
        padding: 0.5rem;
    }
    .profile-menu p{
        line-height: 0.8rem;
        color: var(--text-color);
        height: 0.8rem;
    }
    .profile-menu__sign-out{
        color: var(--warning-text-v1);
        background-color: var(--warning-background-v1);
    }
    .profile-menu__sign-out a{
        padding: 0.8rem;
    }
    .profile-menu__sign-out p{
        color: var(--warning-text-v1);
    }
}
