.profile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;

    font-size: 0.8rem;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.187);
    width: 200px;
    background-color: var(--background-color);
}
.profile-menu a{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    gap: 0.4rem;
}
.profile-menu__links a{
    padding: 0.5rem;
}
.profile-menu p{
    line-height: 0.8rem;
    height: 0.8rem;
}
/* .profile-menu__links{

} */
.profile-menu__sign-out{
    color: red;
    background-color: rgb(255, 223, 223);
}
.profile-menu__sign-out a{
    padding: 0.8rem;
}