.creditials-password-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.creditials-password-form__main{
    display: flex;
    gap: 1rem;
}
.input-container{
    width: 50%;
    border-radius: 5px;
}
.input-container input{
    background-color: var(--background-color-faded);
    padding: 0.5rem;
    width: 100%;
}