.edit-profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.edit-profile__form textarea {
    resize: none;
}
.edit-profile__form textarea,
.edit-profile__form input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--background-color-faded);
    border-radius: 5px;
}
.form__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.image-input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    gap: 0.5rem;
}
.input__larger-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}
.input__larger-container div {
    width: 50%;
}
.form__main__submit {
    width: 50%;
}
.form__image {
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .edit-profile__form {
        flex-direction: row;
        justify-content: space-between;
    }
    .form__main {
        width: 70%;
    }
    .form__image {
        align-items: center;
        width: 30%;
    }
}
@media (min-width: 1025px) {
    .edit-profile__form {
        flex-direction: row;
        justify-content: space-between;
    }
    .form__main {
        width: 70%;
    }
    .form__image {
        align-items: center;
        width: 30%;
    }
    .image-input__container{
        width: 250px;
        height: 250px;
    }
}
