.edit-profile__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.edit-profile__form textarea {
    resize: none;
}
.edit-profile__form textarea,
.edit-profile__form input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--background-color-faded);
    border-radius: 5px;
}
.image-input__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.image-input__container input[type="file"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-picture {
    width: 100px;
    height: 100px;
    background-color: black;
}
.input__larger-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}
.input__larger-container .input__container {
    width: 50%;
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
